version: "3.9"

services:
  db:
    image: postgres:16
    container_name: clothing_site_db
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - clothing_site_network

  backend:
    build:
      context: ./ecom-backend
      dockerfile: Dockerfile
    container_name: clothing_site_backend
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - clothing_site_network

  frontend:
    build:
      context: ./ecom-frontend/ecom-site
      dockerfile: Dockerfile
    container_name: clothing_site_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - clothing_site_network

volumes:
  postgres_data:

networks:
  clothing_site_network:
    driver: bridge
